body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
   
}


.name{
    text-align: left;
    margin-bottom: auto;
    padding-left: 2em;
    margin: auto;
    color: red;
}

.container{
    display: flexs;
    padding-top:.5em;
    padding-left: 2em;
    border-radius: 2em;
    color:white;
   
}

button:hover{
    background-color: red;
}

#wrap{
    background-size: cover;
    height: 90vh;
    width: 100vw;
}