div{
    color:violet;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 8px;
    border: 2px solid black;
}

button{
    background-color:#dc3545;
    margin-bottom: 10px;
}

button:hover{
    background-color: #b81021;
}

input{
    border: 2px solid black;
    margin-bottom: 10px;
}